


/* Potential Fonts 

font-family: 'DotGothic16', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Silkscreen', cursive;
font-family: 'Smooch Sans', sans-serif;
font-family: 'Wire One', sans-serif;
font-family: 'VT323', monospace; 


font-family: 'Rubik Glitch', cursive;
font-family: 'Tulpen One', cursive;
font-family: 'Tourney', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'MuseoModerno', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Monofett', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Marcellus SC', serif;
font-family: 'Kranky', cursive;
font-family: 'Londrina Sketch', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Gugi', cursive;
font-family: 'Geo', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Aldrich', sans-serif;
*/


.navbar {

}
.navbar-light .navbar-toggler-icon {
    background-color: white;
    border-radius: 5px;
}

/* .cyberdyne-logo {
    background-image: url(../img/cyberdyne-systems-logo.png);
    background-size: cover;
    height: 5rem;
    width: 8rem;
} */

.navbar-cyberdyne-logo {
    height: 5rem;
}

/* home section  */

.home {
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding-top: 96px;
}

.hero-section {
    
}
.hero-text {
    background-color: rgba(0, 0, 0, 0.411);
    font-family: 'Wire One', sans-serif;
    height: 100%;
}

/* hero carousel  */

.hero-carousel {
    margin-top: 50rem;
    position: relative;
    height: 100vh;
    font-family: 'Wire One', sans-serif;
    font-family: 'Raleway', sans-serif;

}
  .hero-carousel-1 {
    height: 100vh;
    background-image: url(../img/box-cyberdyne-16x9-3-2.jpg);
    background-position: center center;
    background-size: cover;
  }
  .caption-1 {
    font-family: 'Six Caps', sans-serif;
  }
  .hero-carousel-2 {
    height: 100vh;
    background-image: url(../img/box-skynet.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .caption-2 {
    font-family: 'Marcellus SC', serif;
  }
  .hero-carousel-3 {
    height: 100vh;
    background-image: url(../img/box-t-800-16x9.png);
    background-position: center center;
    background-size: cover;
  }
  .caption-3 {
    font-family: 'Rubik Glitch', cursive;
  }



/* .box-cyberdyne {
    background-image: url(../img/box-cyberdyne.jpg);
    background-size: cover;
    font-family: 'Wire One', sans-serif;
}
.box-t800 {
    background-image: url(../img/box-t800.jpg);
    background-size: cover;
    font-family: 'Wire One', sans-serif;
}
.box-skynet {
    background-image: url(../img/box-skynet.jpg);
    background-size: cover;
    font-family: 'Wire One', sans-serif;
}
 */


/* about cyberdyne section  */


.abt-cyb-section {
    background-image: url(../img/chip.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Wire One', sans-serif;
}


.abt-cyb-text {
    background-color: rgba(0, 0, 0, 0.518);
}
.abt-cyb-text h2 {
    font-family: 'VT323', monospace; 
}
.abt-cyb-image {
    background-image: url(../img/cyb-1.jpg);
    background-size: cover;
}


/* project skynet section  */

.skynet {
    background-image: url(../img/box-skynet-16x9.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.skynet-text {
    background-color: rgba(0, 0, 0, 0.518);
    font-family: 'Wire One', sans-serif;  
}
.skynet-text h2 {
    font-family: 'VT323', monospace; 
}
.skynet-image-1 {
    background-image: url(../img/skynet-3.jpg);
    background-size: cover;
    background-position: center;
}
.skynet-image-2 {
    background-image: url(../img/skynet-2.jpg);
    background-size: cover;
    height: 400px;
}
.skynet-image-3 {
    background-image: url(../img/skynet-4.jpg);
    background-size: cover;
    height: 400px;
}





/* programs section  */

.prog {
    background-image: url(../img/bg5.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 16px;
}

.prog-card {

}
.prog-card-image {
    background-size: cover;
    background-position: center;
}
.prog-card-text {
    background-color: rgba(0, 0, 0, 0.356);
    font-family: 'Wire One', sans-serif;  
}
.prog-card-text h3 {
    font-family: 'VT323', monospace; 
}


.mil-prog-image {
    background-image: url(../img/box-national-defense.jpg);
}
.mil-prog-image-2 {
    background-image: url(../img/military-programs.jpg);
}
.le-prog-image {
    background-image: url(../img/le.jpg);
}
.le-prog-image-2 {
    background-image: url(../img/box-law-enforcement-16x9.jpg);
}
.med-prog-image {
    background-image: url(../img/medical.jpg);
}
.med-prog-image-2 {
    background-image: url(../img/medical.jpg);
}
.soc-prog-image {
    background-image: url(../img/box-social-programs-16x9.jpg);
}
.soc-prog-image-2 {
    background-image: url(../img/box-social-programs-16x9.jpg);
}

/* subprojects section */

.subprojects {
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

}

/* t-800 subsection */

/* new t-800 css */

.accordion-item {

}

/* accordion section 1 */
.acc-1 {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Wire One', sans-serif;
}
.t-800-terminator {
    background-image: url(../img/t-800.jpg);
    background-size: cover;
    background-position: top;
}

.t-800-proto-1 {
    background-image: url(../img/t-800-proto-1.jpg);
    background-size: cover;
    background-position: top;
 
}
.t-800-proto-2 {
    background-image: url(../img/t-800-proto-2.jpg);
    background-size: cover;
    background-position: top;

}

/* accordion section 2 */
.acc-2 {
    background-image: url(../img/bg9.jpg);
    background-size: cover;
    background-position: center;
}
.t-1000-terminator {
    background-image: url(../img/t-1000.jpg);
    background-size: cover;
    background-position: top;
}

.t-1000-proto-1 {
    background-image: url(../img/t-1000-proto-1.jpg);
    background-size: cover;
    background-position: top;
    height: 40rem;
}
.t-1000-proto-2 {
    background-image: url(../img/t-1000-proto-2.jpg);
    background-size: cover;
    background-position: top;
    height: 14rem;
}

/* accordion section 3 */
.acc-3 {
    background-image: url(../img/bg8.jpg);
    background-size: cover;
    background-position: center;
}
.future-projects {
    background-image: url(../img/bg10.jpg);
    background-size: cover;
    background-position: top;
}

.future-1 {
    background-image: url(../img/the-future.jpg);
    background-size: cover;
    background-position: top;
    height: 40rem;
}
.future-2 {
    background-image: url(../img/future-projects.jpg);
    background-size: cover;
    background-position: top;
    height: 40rem;
}

/* original t-800 css  */

/* .t-800 {

}
.t-800-image {
    background-image: url(../img/t-800.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 30%;

}
.t-800-text {
    background-color: rgba(0, 0, 0, 0.39);
    width: 45%;
}
.t-800-more-images {
    width: 24%;
}
.t-800-image-2 {
    background-image: url(../img/t-800-2.jpg);
    background-size: cover;
    background-position: center;
    height: 50%;
}
.t-800-image-3 {
    background-image: url(../img/t-800-3.jpg);
    background-size: cover;
    background-position: center;
    height: 50%;
} */


/* original t-1000 css*/

/* .t-1000 {

}
.t-1000-image {
    background-image: url(../img/t-1000.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 30%;

}
.t-1000-text {
    background-color: rgba(0, 0, 0, 0.39);
    width: 45%;
}
.t-1000-more-images {
    width: 24%;
}
.t-1000-image-2 {
    background-image: url(../img/t-1000-2.jpg);
    background-size: cover;
    background-position: center;
    height: 50%;
}
.t-1000-image-3 {
    background-image: url(../img/t-1000-3.jpg);
    background-size: cover;
    background-position: center;
    height: 50%;
} */


/* contact section */


.contact {
    background-image: url(../img/barbedwire.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}
.contact-heading {
    font-family: 'VT323', monospace; 
}
.contact-heading h2 {
    background-color: rgba(0, 0, 0, 0.632);
}

/* Contact form CSS */

#fs-frm input,
      #fs-frm select,
      #fs-frm textarea,
      #fs-frm fieldset,
      #fs-frm optgroup,
      #fs-frm label,
      #fs-frm #card-element:disabled {
        font-family: inherit;
        font-size: 100%;
        color: inherit;
        border: none;
        border-radius: 0;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      #fs-frm label,
      #fs-frm legend,
      #fs-frm ::placeholder {
        font-size: .825rem;
        margin-bottom: .5rem;
        padding-top: .2rem;
        display: flex;
        align-items: baseline;
      }
      
      /* border, padding, margin, width */
      #fs-frm input,
      #fs-frm select,
      #fs-frm textarea,
      #fs-frm #card-element {
        border: 1px solid rgba(0,0,0,0.2);
        background-color: rgba(255,255,255,0.9);
        padding: .75em 1rem;
        margin-bottom: 1.5rem;
      }
      #fs-frm input:focus,
      #fs-frm select:focus,
      #fs-frm textarea:focus {
        background-color: white;
        outline-style: solid;
        outline-width: thin;
        outline-color: gray;
        outline-offset: -1px;
      }
      #fs-frm [type="text"],
      #fs-frm [type="email"] {
        width: 100%;
      }
      #fs-frm [type="button"],
      #fs-frm [type="submit"],
      #fs-frm [type="reset"] {
        width: auto;
        cursor: pointer;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
      }
      #fs-frm [type="button"]:focus,
      #fs-frm [type="submit"]:focus,
      #fs-frm [type="reset"]:focus {
        outline: none;
      }
      #fs-frm [type="submit"],
      #fs-frm [type="reset"] {
        margin-bottom: 0;
      }
      #fs-frm select {
        text-transform: none;
      }
      
      #fs-frm [type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        display: inline-block;
        width: auto;
        margin: 0 .5em 0 0 !important;
      }
      
      #fs-frm [type="radio"] {
        -webkit-appearance: radio;
        -moz-appearance: radio;
        appearance: radio;
      }
      
      /* address, locale */
      #fs-frm fieldset.locale input[name="city"],
      #fs-frm fieldset.locale select[name="state"],
      #fs-frm fieldset.locale input[name="postal-code"] {
        display: inline;
      }
      #fs-frm fieldset.locale input[name="city"] {
        width: 52%;
      }
      #fs-frm fieldset.locale select[name="state"],
      #fs-frm fieldset.locale input[name="postal-code"] {
        width: 20%;
      }
      #fs-frm fieldset.locale input[name="city"],
      #fs-frm fieldset.locale select[name="state"] {
        margin-right: 3%;
      }

/* Contact form custom CSS */

#fs-frm {
    background-color: rgba(0, 0, 0, 0.566);
}



footer {
    
}

.fine-print {
    font-size: .6rem;
}


@media only screen and (min-width: 480px) {
    .t-800-terminator {
        height: 25rem;
        width: 100%;
    } 
    .t-800-proto-1 {
        height: 30rem;
        width: 100%;
    }
    .t-800-proto-2 {
        width: 100%;
        height: 30rem;
    }
    .t-1000-terminator {
        width: 100%;
        height: 10rem;
    }

    .t-1000-proto-1 {
        height: 30rem;
        width: 100%;
    }
    .t-1000-proto-2 {
        width: 100%;
        height: 30rem;
    }

  }

  @media only screen and (min-width: 768px) {
    .t-800-terminator {
        height: 50rem;
        width: 100%;
    } 
    .t-800-proto-1 {
        height: 35rem;
        width: 100%;
    }
    .t-800-proto-2 {
        width: 100%;
        height: 35rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    .t-800-terminator {
        height: 40rem;
        width: 100%;
    } 
    .t-800-proto-1 {
        height: 45rem;
        width: 100%;
    }
    .t-800-proto-2 {
        width: 100%;
        height: 45rem;
    }
  }

/* Fonts  */
